* {
  background-color: skyblue;
}

.App {
  text-align: center;
}

button {
  background-color: white;
}

input {
  background-color: white;
}

.addDestination {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;

}